@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    color:#fff
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #005155;
}

#todo {
    height: 2em;
    width: 15em;
    font-size: 20px;
    color: #000;
}
.container{
    margin-top: 20px;
}

button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;     
    margin-top: 5px;
    
}
#addBtn{
    background-color: rgb(38, 105, 67);
}

#clearBtn {
    background-color: rgb(145, 75, 43);
}

li{
    text-align: left;
    font-size: 1.5em;

}
:checked + span{
    text-decoration: line-through;
    
}
